div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 800px;
    height: 600px;
}

img {
    width: 100px;
    height: 80px;
    margin: 20px;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 60%;
}