div {
    display: flex;
    flex-direction: column;
    width:300px;
    height: 400px;
    background-color: blue;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
    height: 80px;
    margin: 20px;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 60%;
}