.PokeGrid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 20px;
    width: 600px;
    height: 600px;
    background-color: aquamarine;
}

img {
    width: 100px;
    height: 80px;
    margin: 5px;
}